<nav class="navbar navbar-default navbar-fixed">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" [class.toggled]="navCloseIcon" (click)="navbarToggle()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{ title }}</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul *ngIf="leftNavItems" class="nav navbar-nav navbar-left">
        <li *ngFor="let item of leftNavItems">
          <a [routerLink]="item.routerLink" [class.dropdown-toggle]="item.dropdownItems" data-toggle="dropdown">
            <i [ngClass]="item.iconClass"></i>
            <b *ngIf="item.dropdownItems" class="caret"></b>
            <span *ngIf="item.numNotifications !== undefined && item.numNotifications !== null" class="notification">{{ item.numNotifications }}</span>
          </a>
          <ul *ngIf="item.dropdownItems" class="dropdown-menu">
            <li *ngFor="let dropdownItem of item.dropdownItems" [class.divider]="dropdownItem === 'separator'">
              <a *ngIf="dropdownItem.title" [routerLink]="dropdownItem.routerLink">{{ dropdownItem.title }}</a>
            </li>
          </ul>
        </li>
      </ul>

      <ul *ngIf="rightNavItems" class="nav navbar-nav navbar-right">
        <li *ngFor="let item of rightNavItems">
          <a [routerLink]="item.routerLink" [class.dropdown-toggle]="item.dropdownItems" data-toggle="dropdown">
            <i [ngClass]="item.iconClass"></i>
            {{ item.title }}
            <b *ngIf="item.dropdownItems" class="caret"></b>
            <span *ngIf="item.numNotifications !== undefined && item.numNotifications !== null" class="notification">{{ item.numNotifications }}</span>
          </a>
          <ul *ngIf="item.dropdownItems" class="dropdown-menu">
            <li *ngFor="let dropdownItem of item.dropdownItems" [class.divider]="dropdownItem === 'separator'">
              <a *ngIf="dropdownItem.title" [routerLink]="dropdownItem.routerLink">{{ dropdownItem.title }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
