<nav class="navbar navbar-default navbar-fixed">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Dashboard</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul *ngIf="leftItems" class="nav navbar-nav navbar-left">
        <li *ngFor="let item of leftItems">
          <a [routerLink]="item.routerLink" class="dropdown-toggle" data-toggle="dropdown">
            <i [ngClass]="item.imageClass"></i>
            {{ item.title }}
            <b *ngIf="item.dropdownItems" class="caret"></b>
            <span *ngIf="item.notifications !== undefined && item.notifications !== null" class="notification">{{ item.notifications }}</span>
          </a>
          <ul *ngIf="item.dropdownItems" class="dropdown-menu">
            <li *ngFor="let dropdownItem of item.dropdownItems" [class.divider]="!dropdownItem.title">
              <a *ngIf="dropdownItem.title" [routerLink]="dropdownItem.routerLink">{{ dropdownItem.title }}</a>
            </li>
          </ul>
        </li>
      </ul>

      <ul *ngIf="rightItems" class="nav navbar-nav navbar-right">
        <li *ngFor="let item of rightItems">
          <a [routerLink]="item.routerLink" class="dropdown-toggle" data-toggle="dropdown">
            <i [ngClass]="item.imageClass"></i>
            {{ item.title }}
            <b *ngIf="item.dropdownItems" class="caret"></b>
            <span *ngIf="item.notifications !== undefined && item.notifications !== null" class="notification">{{ item.notifications }}</span>
          </a>
          <ul *ngIf="item.dropdownItems" class="dropdown-menu">
            <li *ngFor="let dropdownItem of item.dropdownItems" [class.divider]="!dropdownItem.title">
              <a *ngIf="dropdownItem.title" [routerLink]="dropdownItem.routerLink">{{ dropdownItem.title }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
