<div class="sidebar" [attr.data-color]="backgroundColor" [attr.data-image]="backgroundImg || null">

  <div class="sidebar-wrapper">
    <div class="logo">
      <a [href]="headerLink" class="simple-text">
        <div *ngIf="headerLogoImg" class="logo-img">
          <img [src]="headerLogoImg"/>
        </div>
        {{ headerText }}
      </a>
    </div>

    <ul class="nav">
      <li *ngFor="let item of items" routerLinkActive="active">
        <a [routerLink]="item.routerLink">
          <i [ngClass]="item.imageClass"></i>
          <p>{{ item.title }}</p>
        </a>
      </li>
    </ul>
  </div>

  <div *ngIf="backgroundImg" class="sidebar-background" [ngStyle]="backgroundStyle"></div>
</div>
